

:root
{
  --section-overlay:rgba(0,0,0,0.7);
  --background-overlay:rgba(0,0,0,0.2);

}
*
{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.app
{
 
  width:100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.overlay
{
  
  width:100%;
  height: 100vh;
  background-color: var(--background-overlay);
  display: flex;
  align-items: center;
  justify-content: center;

}
.container
{
  
  width:50%;
  max-width: 900px;

  /* margin: auto; */
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
}
.forcast
{
 
  height: 100%;
  width: 30%;
  
  padding:2rem;
}
.forcastContainer__overlay
{
  /* height: 76%; */
  
  
  
  padding: 0.5rem;
  background-color:rgba(255, 255, 255, 0.8);
  border-radius:0.5rem;
 
 

}

.forcastContainer1
{
  display: flex; 
  align-items: center;
   justify-content: center;
   flex-direction: column;
   
  
  width:100%;
  height: 50%;

}

.imageSection
{
  
  width: 100%;
  height: 100%;
  display: flex; 
  align-items: center;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.7);
}
.detailSection
{
 
  width: 100%;
  height: 50%;
  display: flex; 
  align-items: center;
   justify-content: center;
   gap:0.1rem;

}
.detail
{
  
  display: flex; 
  align-items: center;
   justify-content: center;
   height: 100%;
   width:33%;
   background-color: rgba(0, 0, 0, 0.7);
   color:white;

}
.location
{
  padding: 0.6rem;
  word-break: break-all;
  font-weight: 999;
}
.detail
{
  font-weight: 999;
}
.temperature2
{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:0.5rem;
}
/* .temperature2>h1{
  font-size:43px ;
} */

.forcastContainer
{
  
  
  width:100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:0.5rem;
  



}
.temp{
  
  display: flex;
  align-items: center;
  justify-content: center;

}



.carousel__innerContainer
{
 
  
  font-family: Georgia, 'Times New Roman', Times, serif;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  gap: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  
  
}
.carousel_List
{
  color: white;
  display:flex;
  align-items:center;
  justify-content:space-around;gap:0.7rem;font-size:21px;font-weight:900;
  width: 100%;
  
  }
.icons
{
  align-items: flex-start;
}

@media screen  and (max-width: 1040px) {
  
  

  .forcastContainer__overlay
{
  /* height: 97%; */
  
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column; */
  /* border:1px solid red; */
  padding: 0.3rem;
  background-color:rgba(255, 255, 255, 0.8);
  border-radius:0.5rem;
  gap:0.2rem;
  

}


.forcastContainer
{
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  
  width:100%;
  height: 50%;
  
}


.temp{
  
  display: flex;
  align-items: center;
  justify-content: center;

}

.carousel__innerContainer
{
  
  font-family: Georgia, 'Times New Roman', Times, serif;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  gap: 1rem;
  padding: 0.6rem;
  background-color: rgba(0, 0, 0, 0.7);
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  
  
}
.carousel_List
{
  color: white;
  display:flex;
  align-items:center;
  justify-content:space-around;gap:0.3rem;font-size:17px;font-weight:900;
  width: 100%;
  
  }
.icons
{
  align-items: flex-start;
  
}
}


@media screen  and (max-width: 894px) {
  
.detailSection
{
  display: flex;
  flex-direction: column;
  gap:1rem;
  margin-top: 1rem;
  
}
.detail{
  /* border:1px solid red; */
  
  width:100%

}
  .container
{
  
 
  padding: 0.7rem;
}



.section
{
 
  width: 100% ;
  padding: 1rem;
  border-radius: 0.4rem;
  color: white;
}

.section__inputs, .section__temperature
{
  

  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
  background-color: var(--section-overlay);
}
.section__inputs>input{
  border:0.8px solid white;

  border-radius: 0.4rem;
  background-color: transparent;
  color: white;
  padding: 0.3rem;
  width: 9rem;
  font-size: 20px;
  font-weight: 200;
}


}

@media screen and (min-width: 773px) and (max-width: 1000px)
{

  .forcastContainer__overlay
  {
    
    border: 1px solid blue;
    width: 30vw;
    
    
    
  
  }

}



@media screen  and (max-width: 772px) 
  {

    .forcastContainer__overlay
    {
      height: 97%;
      
      /* display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column; */
      padding: 0.3rem;
      background-color:rgba(255, 255, 255, 0.8);
      border-radius:0.5rem;
      gap:0.2rem;
      width: 30vw;
      
    
    }
    
    
    .forcastContainer
    {
      /* display: flex; */
      /* align-items: center; */
      /* justify-content: center; */
      
      width:100%;
      height: 50%;
      
    }
    
    
    .temp{
      
      display: flex;
      align-items: center;
      justify-content: center;
    
    }
    
    .carousel__innerContainer
    {
      
      font-family: Georgia, 'Times New Roman', Times, serif;
      height:100%;
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items:center;
      gap: 1rem;
      padding: 0.6rem;
      background-color: rgba(0, 0, 0, 0.7);
      
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 1rem;
      
      
    }
    .carousel_List
    {
      color: white;
      display:flex;
      align-items:center;
      justify-content:space-around;gap:0.3rem;font-size:15px;font-weight:900;
      width: 100%;
      
      }

  }



  @media screen  and (max-width: 650px) 
  {

    .app
{
  
height: 200vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.overlay
{ 
  background-color: var(--background-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  

}
.container
{
    width: 100%;
}

.forcast
{
  
  width: 100%;

 
}
.forcastContainer__overlay
{

height: 90vh;
width:100%;

padding: 0.5rem;
background-color:rgba(255, 255, 255, 0.8);
border-radius:0.5rem;
}


.carousel__innerContainer
{
  
}
.carousel_List
{
  font-size: 17px;

}


 }





.section
{
  
  width: 100% ;
  padding: 1rem;
  border-radius: 0.4rem;
  color: white;
}

.section__inputs, .section__temperature
{
  

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--section-overlay);
}
.section__inputs>input{
  border:0.8px solid white;

  border-radius: 0.4rem;
  background-color: transparent;
  color: white;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 200;
}
.section__inputs>input:focus
{
  outline: none;
}

.section__inputs>button{
  padding: 10px 50px;
  border: none;
  border-radius: 00.4rem;
  font-weight: 500;
  background-color: white;

}

.section__inputs>button:hover{
  cursor: pointer;
  background-color:lightgray;
}

.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.icon>h3{
  font-size: 15px;
  font-weight: 200;
  text-transform: capitalize;
}
.temperature>h1{
  font-size: 50px;
}


